<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div *ngIf="selectedScript">
    <h1>{{title}}</h1>
    <h2> {{selectedScript.name}} </h2>
    <div>
      <label>name: </label>
      <input [(ngModel)]="selectedScript.name" placeholder="name">
    </div>
    <pre>{{selectedScript.code}}</pre>
  </div>
  <ul class="scripts">
    <li *ngFor="let script of allScripts" (click)="onSelect(script)" [class.selected]="script === selectedScript">
      <span class="badge">{{script.id}}</span> {{script.name}}
    </li>
  </ul>
</div>